.perms {
box-sizing: border-box;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#perms {
 background: #f3f5fd;
}

.perms-cont {
    flex-direction: column;
    text-align: center;
    flex-grow: 2;
}

.header {
    margin: 2rem;
}

#test-video {
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
    max-height: 20rem;
}

.video-div {
    color: black;
    max-width: 100%;
}

.perms-msg {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    display: block;
    margin: auto;
    font-weight: normal;
    padding: 0.5rem;
}

.text-color {
    color: var(--themeColor);
}

.perms-header {
    font-family: "Fira Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.perms-but {
background: var(--themeColor);
border-radius: 0px 0px 15px 15px;
outline: none;
border: 0;
width: 100%;
height: 4rem;
font-size: 16px;
color: white;
display: block;
font-weight: bold;
margin-left: auto;
cursor: pointer;

}

.help {
    font-size: 15px;
    text-decoration: underline;
    background-color: black;
    max-width: 100%;
}

.perms-comp {
    background-color: white;
    border-radius: 15px;
    margin: 1.5rem 0.5rem;
}

.opts {
display: flex;
justify-content: space-around;
align-items: center;
margin: 0.2rem 0;
}

.opt-item {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0.75rem 0;
}

.opt-tog {
    display: block;
    color: var(--themeColor);
}

.opt-span {
    display: block;
    height: 55px;
    width: 55px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #888;
    border-radius: 50%;
    margin: 0 auto 0.5rem;
    cursor: pointer;
}
