
.Toastify__progress-bar--default {
  color:  #5b86e5 !important;
  background: #5b86e5 !important;
}

.Toastify__close-button:hover, .Toastify__close-button:focus {
  border: none !important;
  outline: none !important;
}

.Toastify__toast-container {
  width: 30rem !important;
  border-radius: 20px !important;
}

.text-center {
  text-align: center !important;
}
.Toastify__toast {
  border-radius: 10px !important;

}

.Toastify__toast .Toastify__toast-body {
  text-align: center !important;
  justify-content: space-between !important;

}

.justify-between {
  justify-content: space-between !important;
}

.snack-btn {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
	background: #5b86e5;
	border-radius: 7px;
	border: none;
	color: white;
	padding: 8px;
  font-weight: 600;
}
@media (min-width: 640px) {
  .snackbar-container {
    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 5px;
    margin: 24px;
  }
}


/* Mobile Styles Start */

@media (max-width: 640px) {
 
.Toastify__progress-bar--default {
  color:  #5b86e5 !important;
  background: #5b86e5 !important;
}

.Toastify__close-button:hover, .Toastify__close-button:focus {
  border: none !important;
  outline: none !important;
}

.Toastify__toast-container {
  width: 15rem !important;
}

.text-center {
  text-align: center !important;
}

.Toastify__toast .Toastify__toast-body {
  text-align: center !important;
  justify-content: space-between !important;
}

.justify-between {
  justify-content: space-between !important;
}

}

/* Mobile Styles End */
